.group {
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00061B;
    flex-direction: column; 
    overflow: hidden; 
  }
  
  .group::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(7px);
    opacity: 0.7;
  }
  
  .perfilImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%;
    max-width: 400px;
    @media (max-width: 768px) {
      padding: 10px; 
    }
  
    > img {
      width: 100%;
      height: auto; 
      border-radius: 50%;
      max-width: 400px;
      @media (max-width: 480px) {
        max-width: 200px; 
      }
    }
  }
  
  .contentGroup {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .textGroup {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    min-width: 300px;
    gap: 20px;
    padding-bottom: 10px;
    a{  
      width: 100%;
      padding: 0 5px;
      
      .button{
        width:100%;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
    h2, p{
      padding: 10px;
      text-align: left;
      line-height: 25px;
    }
  }
  
  .textGroup h2 {
    color: #D4AF37;
  }

  .listAtractive {
    background-color: #00061B;
    color: #f1f1f1;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 12px 12px 0px 0px;
  
  }
  
  .listAtractive h2 {
    color: #D4AF37;
  
  }
  
  .listAtractive li {
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    border-radius: 8px;
    padding: 10px;
    font-size: 26px;
    font-weight: 100;
  }
  
  .evidence {
    font-weight: bold;
    font-size: 18px;
    font-size: 26px;
  }
  
  .pillarCard {
    width: 100%;
    display: flex;
    gap: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .pillarCard .ul {
    display: flex;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    position: relative;
    @media (max-width: 768px) {
      gap: 0;
      padding: 0;
      
    }
  }
  
  .pillarCard .li {
    width: calc(100% - 50%);
    min-width: 300px;
    height: 300px;
    flex-shrink: 0;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  