$primary-color: rgb(0, 6, 27);
$secondary-color: #D4AF37;
$font-family: "Roboto", sans-serif;

.social-container {
  font-family: $font-family;
  background-color: rgba(0, 6, 27);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  

  .back-button {
    align-self: flex-start;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: $secondary-color;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .logo {
    margin-bottom: 20px;
    width: 200px;
  }
}

.header {
  width: 100%;
  max-width: 1200px;
  text-align: left;
  margin-bottom: 40px;

  .company-name {
    font-size: 3rem;
    color: $secondary-color;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .tagline {
    font-size: 1.2rem;
    color: #f1f1f1;
    margin-top: 10px;
    max-width: 800px;
  }
}

.section-title {
  font-size: 2rem;
  color: $secondary-color;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
}

.commitment-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background-color: #dadada;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

  ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  li {
    font-size: 1.1rem;
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgb(0, 6, 27);
    margin-bottom: 20px;
  }
}

.containerGallery {
  background-color: rgba(0, 6, 27, 0.9);
  width: 100%;
  padding: 20px 0;

  .image-gallery {
    max-width: 1200px;
    margin: 0 auto;

    .carousel-container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .carousel {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-slide {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .slide {
      min-width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        width: 100%;
        max-width: 600px;
      }
    }

    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      font-size: 2rem;
      cursor: pointer;
      z-index: 1;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .prev-btn {
      left: 10px;
    }

    .next-btn {
      right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .company-name {
    font-size: 2.5rem;
  }

  .tagline {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .commitment-section {
    padding: 15px;
  }

  .image-gallery {
    grid-template-columns: 1fr;
  }
}
