.containerEbook {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #00061B;
    padding: 10px 0;
    overflow: hidden;
    @media (max-width: 768px) {
      padding: 0;
      
    }
  }

  .imgEbookContainer{
    border-radius: 10%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    @media (max-width: 820px) {
      display: none;
    }
  }

  .containerButtonEbook{
    display: flex;
    width: 100%;
    align-items: flex-start;
    .button{
      width: 400px;
    }
  }
  .contentEbook{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  
  .containerSquare {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .squareElement {
    border: 1px solid transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: column;
    animation: pulsar 3s ease-in-out infinite;

    @media (max-width: 768px) {
      animation: none;
      padding: 5px;
      line-height: normal;
      h1{
        font-size: 1.3rem;
      }
      h2{
        font-size: 1.1rem;
      }
      p{
        font-size: 0.9rem;
        width: 90%;
        @media (max-width: 768px) {
          width: 100%;
          text-align: justify;
        } 
      }
    }
  }
  .textCreditContainerScore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 600px;
    gap: 20px;
    @media (max-width: 800px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .textCreditContainerScore> p{
    width: 100%;
    padding: 10px 0;
  }

  .containerButtonEbook{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    .button{
      width:100%;
    }
    a{
      width: 100%;
    }
    p{
      text-align: center ;
    }
  }
  .contentEbookInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    ul{
      padding: 10px;
      gap: 10px;
      line-height: 20px;
      font-size: 16px;
      @media (max-width: 768px) {
        width: 90%;
        font-size: 0.9rem;
      }
    }
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.03);
    }
  
    100% {
      transform: scale(1);
    }
  }