.containerEbook {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #00061B;
    padding: 10px;
    min-height: 50vh;
  }

  .containerButtonEbook{
    display: flex;
    width: 100%;
    align-items: flex-start;
    .button{
      width: 400px;
    }
  }
  .contentEbook{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  
  .containerSquare {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .squareElement {
    border: 1px solid transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: column;
    animation: pulsar 3s ease-in-out infinite;
    padding: 10px;
  }
  .textCreditContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .textCreditContainer p{
    padding: 10px;
  }

  .containerButtonEbook{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .contentEbookInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    ul{
      padding: 10px;
      gap: 10px;
      line-height: 20px;
      font-size: 16px;
    }
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
      // box-shadow: 0 0 5px rgba(212, 175, 55, 0.3);
    }
  
    50% {
      transform: scale(1.03);
      // box-shadow: 0 0 7px rgba(212, 175, 55, 0.6);
    }
  
    100% {
      transform: scale(1);
      // box-shadow: 0 0 5px rgba(212, 175, 55, 0.3);
    }
  }