*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: .8em;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
 
:target {
  scroll-margin-top: .8em;
}


ul, ol{
  list-style: none;
}
li, li:a, a:link, a:active{
  text-decoration: none;
}

h2{
  font-size: 32px;
}
p{
  font-size: 16px;
}