@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
  }
}

:target {
  scroll-margin-top: .8em;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: .8em;
}


ul,
ol {
  list-style: none;
}

li,
li:a,
a:link,
a:active {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  text-align: left;
}

p {
  font-size: 16px;
}