.containerAnalises{
    background-color: rgba(0, 6, 27, 0.9);
    width: 100%;
    padding: 10px 0;
}

.contentElement{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 10px;
    >div{
        object-fit: cover;
        img{
            width: 100%;
            max-width: 900px;
            object-fit: cover;
            @media (max-width:768px) {
                display:none ;
                
            }
        }
    }
}

.contentText{
    display: flex;
    color: #f1f1f1;
    flex-direction: column;
    justify-content: space-between;
    font-size: 28px;
    @media (max-width: 768px) {
        text-align: left;
    }

    a{  
        width: 98%;
      .button{
        width: 100%;
      }
    }
    p{
        font-size: 20px;
        padding: 5px;
    }
    ul{
        list-style-type: circle;
        font-size: 16px;
        padding: 10px;
        @media (max-width: 420px) {
            padding: 0;
        }
        
        li{
            margin: 10px;
        }
    }
.focus{
    color:#D4AF37 ;
}
.listBenefits{
    h2{
        font-size: 24px;
    }
} }