.contentBanner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.contentBanner {
  background-color: rgba(0, 6, 27, 0.9); 
  position: relative;
  z-index: 1; 
}

.contentBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/back.jpg');
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(7px);
  z-index: -1; 
}


  
  .contentBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
    width: 70%;
    text-align: center;
  }
  
  .slogan {
    font-size: 48px;
    font-weight: 600;
    color: #f1f1f1;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .slogan::before {
    content: attr(data-text);
    position: absolute;
    color: #D4AF37;
    width: 0; /* Começa oculto */
    white-space: nowrap; /* Garante que o texto não quebre */
    overflow: hidden;
    border-right: 2px solid #D4AF37; /* Simula um cursor */
    animation: typing 6s steps(30, end) infinite, blink 1s step-end infinite;
    @media (max-width: 1000px) {
      display: none;
      
    }
  }
  
  /* Animação para "escrever" */
  @keyframes typing {
    0% {
      width: 0;
    }
    50%, 90% {
      width: 100%; /* Preenche todo o texto */
    }
    100%, 50% {
      width: 0; /* Volta ao início para repetir */
    }
  }
  
  /* Piscar do cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  
  
  .justifyElement {
    font-size: 22px;
    width: 100%;
    color: #fff;
    font-weight: 100;
    max-width: 600px;
  }
  
  
  .responsiveBox {
    border: 1px solid transparent;
    border-image: linear-gradient(80deg, #D4AF37, transparent) 1;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
    width: 90vw;
    max-width: 1200px;
    height: 90vh;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  @keyframes animate {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
     width: 100%;
    }
  }