.contentBanner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.contentBanner {
  background-color: rgba(0, 6, 27, 0.9); 
  position: relative;
  z-index: 1; 
}

.contentBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/back.jpg');
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(7px);
  z-index: -1; 
}


  
  .contentBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
    width: 70%;
    text-align: center;
  }
  
  .slogan {
    font-size: 48px;
    color: rgba(0, 6, 27);
  }
  
  .justifyElement {
    font-size: 22px;
    width: 40%;
    color: #fff;
    font-weight: thin;
  }
  
  
  .responsiveBox {
    border: 1px solid transparent;
    border-image: linear-gradient(80deg, #D4AF37, transparent) 1;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
    width: 90vw;
    max-width: 1200px;
    height: 90vh;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }