.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 20px auto;
    justify-content: space-around;
    @media (max-width:1000px ){
      justify-content: center;
    }
    @media (max-width:568px ){
      gap: 10px;
    }
    
}

.containerServices{
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.textTitleElement{
  color: #f1f1f1;
  p{
    margin-top: 10px;
  }
}
.servicesTitle{
  color: #D4AF37;
}
