$primary-color: rgb(0, 6, 27);
$secondary-color: #d4af37;
$font-family: "Roboto", sans-serif;

.container {
  background-color: rgba(0, 6, 27);
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  > main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.btnReturn {
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 20px;
  width: 200px;
  font-size: 12px;
  transition: ease-in-out 150ms;
}
.btnReturn:hover{
  color: #d4af37;
}

.contentBannerEbook {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
}

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;

    .textLeftEbook h1 {
      font-size: 1.4rem;
    }
  }

  .textLeftEbook {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    @media (max-width: 768px) {
        width: 100%;
    }

    h1 {
      font-size: 2rem;
      color: #d4af37;
      text-align: left;
      @media (max-width: 768px) {
        font-size: 1.3rem;
    }
    }
  }

  .ebookImgContainer {
    width: 400px;
    object-fit: contain;
    @media (max-width: 568px) {
        width: 200px;
    }
  }

  .containerBtnVip {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    align-items: center;

    button {
      width: 70%;
      cursor: pointer;
      font-weight: bold;
      color: #f1f1f1;
      font-size: 22px;
      height: 40px;
      border: none;
      background-color: #d4af37;
      border-radius: 4px;

      @media (max-width: 1000px) {
        width: 100%;
        height: 40px;
      }
    }

    > img {
      width: 50px;
      height: 50px;
    }
  }
}

.textOverlay {
  color: #d1d1d1;
  margin-bottom: 20px;
}

.product-section {
  background-color: rgba(0, 6, 27, 0.9);
  color: #f1f1f1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-height: 30vh; 
  padding: 20px;
  border-radius: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
  div{
    width: 50%;
    min-width: 300px;
    @media (max-width: 768px) {
        width: 100%;
    }
  }

  .section-title {
    font-size: 2rem;
    color: #d4af37;
    margin-bottom: 20px;
    text-align: left;
  }

  p,
  ul {
    font-size: 1.1rem;
    color: #f1f1f1;
    margin-bottom: 10px;
    text-align: left;
  }

  ul {
    list-style: disc;
    padding-left: 20px;

    li {
      margin-bottom: 5px;
    }
  }
}
.btn{
    width: 70%;
    cursor: pointer;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 22px;
    height: 40px;
    border: none;
    background-color: #d4af37;
    border-radius: 4px;

    @media (max-width: 1000px) {
      width: 100%;
      height: 40px;
    }
  }
  .containerBtnVipFooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }